In [13]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('your-btc-market-price-path')

In [3]:
df.head()

   2017-04-02 00:00:00  1099.169125
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [4]:
df.columns = ["zaman", "değer"]

In [5]:
df.head()

                 zaman        değer
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [6]:
df["zaman"] = pd.to_datetime(df["zaman"])

In [7]:
df.head()

       zaman        değer
0 2017-04-03  1141.813000
1 2017-04-04  1141.600363
2 2017-04-05  1133.079314
3 2017-04-06  1196.307937
4 2017-04-07  1190.454250

In [8]:
df.set_index("zaman", inplace=True)

In [9]:
df.head()

                  değer
zaman
2017-04-03  1141.813000
2017-04-04  1141.600363
2017-04-05  1133.079314
2017-04-06  1196.307937
2017-04-07  1190.454250

In [10]:
df.loc["2017-04-04"]

değer    1141.600363
Name: 2017-04-04 00:00:00, dtype: float64