In [1]:
import numpy as np
import pandas as pd

In [2]:
series = pd.Series([49, 43, 65, 40, 160])

In [3]:
series

0     49
1     43
2     65
3     40
4    160
dtype: int64

In [4]:
series.dtype

dtype('int64')

In [5]:
series[1]

np.int64(43)

In [6]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
series.index = ["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"]

In [8]:
series

Bulbasaur      49
Charmander     43
Squirtle       65
Pikachu        40
Onix          160
dtype: int64

In [13]:
series.name = "Pokemon Savunma Güçleri"

In [9]:
series["Pikachu"]

np.int64(40)

In [10]:
series.iloc[2]

np.int64(65)

In [11]:
series.iloc[-2]

np.int64(40)

In [14]:
series[["Bulbasaur", "Onix"]]

Bulbasaur     49
Onix         160
Name: Pokemon Savunma Güçleri, dtype: int64

In [17]:
series > 45

Bulbasaur      True
Charmander    False
Squirtle       True
Pikachu       False
Onix           True
Name: Pokemon Savunma Güçleri, dtype: bool

In [18]:
series.mean()

np.float64(71.4)

In [19]:
series[(series > 45) & (series < 100)]

Bulbasaur    49
Squirtle     65
Name: Pokemon Savunma Güçleri, dtype: int64

In [20]:
pokemon = pd.DataFrame({
'atak': [49, 52, 48, 55, 45], 'savunma': [49, 43, 65, 40, 160], 'hız': [45, 65, 43, 90, 70], 'tür': ['ot', 'ateş', 'su', 'elektrik', 'kaya'] }, index=["Bulbasaur", "Charmander", "Squirtle", "Pikachu", "Onix"])

In [22]:
pokemon

            atak  savunma  hız       tür
Bulbasaur     49       49   45        ot
Charmander    52       43   65      ateş
Squirtle      48       65   43        su
Pikachu       55       40   90  elektrik
Onix          45      160   70      kaya

In [24]:
pokemon.columns

Index(['atak', 'savunma', 'hız', 'tür'], dtype='object')

In [25]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Bulbasaur to Onix
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   atak     5 non-null      int64
 1   savunma  5 non-null      int64
 2   hız      5 non-null      int64
 3   tür      5 non-null      object
dtypes: int64(3), object(1)
memory usage: 200.0+ bytes

In [27]:
pokemon.size

20

In [28]:
pokemon.shape

(5, 4)

In [30]:
pokemon.describe()

            atak     savunma        hız
count   5.000000    5.000000   5.000000
mean   49.800000   71.400000  62.600000
std     3.834058   50.460876  19.398454
min    45.000000   40.000000  43.000000
25%    48.000000   43.000000  45.000000
50%    49.000000   49.000000  65.000000
75%    52.000000   65.000000  70.000000
max    55.000000  160.000000  90.000000

In [31]:
pokemon["hız"]

Bulbasaur     45
Charmander    65
Squirtle      43
Pikachu       90
Onix          70
Name: hız, dtype: int64

In [32]:
pokemon.iloc[1]

atak         52
savunma      43
hız          65
tür        ateş
Name: Charmander, dtype: object

In [33]:
pokemon.loc["Charmander": "Squirtle", "atak": "savunma"]

            atak  savunma
Charmander    52       43
Squirtle      48       65

In [34]:
pokemon["toplam güç"] = pokemon["atak"] + pokemon["savunma"] + pokemon["hız"]

In [36]:
pokemon["saldırganlık"] = pokemon["atak"] / pokemon["savunma"]

In [38]:
pokemon

            atak  savunma  hız       tür  toplam güç  saldırganlık
Bulbasaur     49       49   45        ot         143      1.000000
Charmander    52       43   65      ateş         160      1.209302
Squirtle      48       65   43        su         156      0.738462
Pikachu       55       40   90  elektrik         185      1.375000
Onix          45      160   70      kaya         275      0.281250